<div class="jumbotron">
    <h1>API 3D2</h1>
    <p class="lead">Projeto de API alunos do Cotemig</p>
    <p><a href="https://projetomvc.azurewebsites.net/" class="btn btn-primary btn-lg">Visite o Site do Projeto</a></p>
</div>

